<html>
	<head>
		<title></title>
	</head>
	<body>
		<h2>
			<span style="font-family:verdana,geneva,sans-serif;">MiLibraryInfo.org</span></h2>
		<p>
			<span style="font-family:verdana,geneva,sans-serif;">This is a very much, still in development in project to index and visualize public library infromation in the State of Michigan. The information on this site was harvested from the State&#39;s Interactive Library Database and is accurate as of February 8, 2013.</span></p>
		<h2>
			<span style="font-family:verdana,geneva,sans-serif;">Developed By</span></h2>
		<p>
			<a href="mailto:swmorey@gmail.com?subject=MiLibraryInfo.org"><span style="font-family:verdana,geneva,sans-serif;">swmorey@gmail.com</span></a></p>
		<p>
			<span style="font-family:verdana,geneva,sans-serif;"><a href="http://github.org/swmorey" target="_blank">http://github.org/swmorey</a></span></p>
		<p>
			<span style="font-family:verdana,geneva,sans-serif;"></span><img alt="" src="https://dl.dropbox.com/u/228894/546486_10100793713987818_430794181_n.jpeg" style="font-family: verdana, geneva, sans-serif; width: 217px; height: 300px; margin: 5px;" /></p>
		<p>
			&nbsp;</p>
	</body>
</html>
