/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, html {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}


#wrapper 
{
  position: relative; 
  margin:0 auto;
  height: 100%;
  width: 100%;

}

#over_map 
{
  height: 90%;
  position: absolute; 
  top: 20px; 
  left: 40px; 
  
  z-index: 99;
  padding: 10px;
  overflow: hidden;

}

#controls
{
  background-color: #fff;
  opacity:0.75;
  filter:alpha(opacity=75); /* For IE8 and earlier */
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: absolute; 
  bottom: 40px; 
  right: 40px; 
  width: 700px;
  height: 35px;

  
  
}

#controls ul{
 list-style-type: none;
 display: inline;
 margin: 0px;
 padding: 0px;
}
#controls ul li{
vertical-align:middle;
 margin-right: 30px;
 padding: 0px;
 float:left;
 
}




#controls ul li img{
vertical-align:middle
}

#controls ul li a{
text-decoration:none;
}
#controls ul li a:hover {
text-decoration: none;
background-color: #fff;
color: #000;
font-weight:bold;
}


#sitemenu
{
  background-color: #fff;
  opacity:0.75;
  filter:alpha(opacity=75); /* For IE8 and earlier */
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: absolute; 
  top: 20px; 
  right: 20px; 
  width: 70px;
  height: 20px;  
}

#sitemenu ul{
 list-style-type: none;
 display: inline;
 margin: 0px;
 padding: 0px;
}
#sitemenu ul li{
vertical-align:middle;
 margin-right: 33px;
 padding: 0px;
 float:left;
 
}




#sitemenu ul li a{
vertical-align:middle
}

#sitemenu ul li a{
text-decoration:none;
}
#sitemenu ul li a:hover {
text-decoration: none;
background-color: #fff;
color: #000;
font-weight:bold;
}





.gllpMap	{ width: 500px; height: 250px; }

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}